:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

.light:root {
  @each $name, $color in $theme-light-colors {
    --#{$name}: #{$color};
  }
}

.dark:root {
  @each $name, $color in $theme-dark-colors {
    --#{$name}: #{$color};
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  @include propWithVarOverride('background-color', $body-bg, 'body-bg');
  @include propWithVarOverride('color', $body-color, 'body-color');

  @include propWithVarOverride('border-color', $link-color, 'link-color');
  border-width: 5px;
  border-top-width: 0;
  border-right-width: 0;
  border-style: solid;

  padding: 0 1em;
}

* {
  box-sizing: border-box;
}
