:root {
  --bg-color: #161616;
  --text-color: #eee;
  --text-muted-color: #b1b1b1;
  --link-color: #66d9ef;
  --link-hover-color: #4da2b3;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0.85em 0; 
}

a[href], a[href]:visited {
  color: var(--link-color);
  text-decoration: none;
}

    a[href]:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

/* Nav */
.nav-items li {
  display: inline-block;
}

  .nav-items li:not(:last-of-type) {
    margin-right: 1em;
  }

/* Header */
header {
  padding: 1em;
}

  .branding-wrapper {
    display: flex;
    align-items: center;
  }

    .branding-img {
      width: 75px;
      margin-right: 1em;
    }

/* Main */
main {
  padding: 0 1em;
}

/* Utilities */
.container {
  max-width: 1278px;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}

.flex-wrapper {
  display: flex;
}

  .flex-items-center {
    align-items: center;
  }

  .flex-content-between {
    justify-content: space-between;
  }